# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# --------------------
# Virtual Environments
# --------------------
.venv/
venv/
env/
fraud/

# --------------------
# Jupyter
# --------------------
.ipynb_checkpoints/

# --------------------
# MLflow
# --------------------
mlruns/

# --------------------
# Data (DO NOT push large files)
# --------------------
data/
!data/README.md

# --------------------
# Logs & Reports
# --------------------
logs/
reports/

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db

# --------------------
# IDE
# --------------------
.vscode/
.idea/
